# EditorConfig is awesome!
# https://editorconfig.org

# Top most config
root = true

# Blanket config
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# JSON & YAML config
[*.{json,yaml,yml}]
indent_size = 2
spaces_around_brackets = inside
indent_brace_style = K&R

# Markdown config
[*.md]
trim_trailing_whitespace = false

# Makefile Config
[{Makefile,*.go}]
indent_style = tab
tab_width = 8
